.divTable{
	display: table;
    width: 100%;
    background: #fff;
    color: black;
}
.divTableRow {
	display: table-row;
}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
}
.divTableCell, .divTableHead {
	/* border: 1px solid #999999;
	display: table-cell;
    padding: 3px 10px; */
    border: 1px solid #00617f;
    display: table-cell;
    padding: 7px 10px;
}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
	font-weight: bold;
}
.divTableFoot {
	background-color: #EEE;
	display: table-footer-group;
	font-weight: bold;
}
.divTableBody {
	display: table-row-group;
}

.divTableCell.thead {
	background: #019875;
	color: #fff;
	/* font-weight: bold; */
	text-transform: uppercase;
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}