body {
	background: #00c6ff;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #0072ff, #00c6ff);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #0072ff, #00c6ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	color: #fff;
	text-align: center;
}

.notesHeader, .notesBody, .notesFooter {
	background-color: rgba(0, 0, 0, 0.5);
	padding: 20px;
	margin: 0;
}

.notesBody {
	margin-top: 1px;
}

.notesFooter {
	bottom: 0;
	position: fixed;
	left: 0;
	width: 100%;
}

.configuration h3 {
	color: #000;
}

.configuration .configuration-body {
	color: #000;
}

.btn-configuration {
	background: transparent;
	border: none;
	position: absolute;
    top: 3px;
    right: -2px;
}

.information-section {
	position: absolute;
    top: 9px;
    background: #0000004d;
    padding: 8px;
}

hr.success {
    border-top: 1px solid rgb(1, 152, 117);
}

.label-container label {
	width: 100%;
	border-bottom: 1px solid #019875;
}

.notesHeader {
    padding: 2px;
}

.notesBody {
    padding: 16px;
    padding-top: 4px;
}

.info-section {
	color: black;
	background: white
}